- form_for(@movie) do |f|
  = f.error_messages 
  - field_set_tag "Movie Details" do 
    %ul
      %li
        = f.label :title, "Movie Title:" 
        = f.text_field :title 
      %li
        = f.label :rating, "Movie Rating:" 
        = f.select :rating, options_for_select(Movie.ratings, @movie.rating) 
      %li
        = f.label :released_on, "Release Date:" 
        = f.date_select :released_on, :start_year => 1939 
      %li
        = f.label :description, "Movie Description:" 
        = f.text_area :description, :rows => 10 
      %li
        = f.submit((@movie.new_record? ? "Create Movie" : "Update Movie"), 
            :id => "submit") 
