<tbody class="movie_row">
<tr>
  <td>
    <% form_for(movie) do |f| %>
      <%= f.hidden_field :title %>
      <%= f.hidden_field :description %>
      <%= f.hidden_field :released_on %>
      <%= f.hidden_field :rating %>
      <%= f.submit "Select" %>
    <% end %>
  </td>
  <td><%= movie.title %></td>
  <td><%= movie.rating %></td>
  <td><%= movie.release_date %></td>
</tr>
</tbody>