%h2 Editing #{@movie.title}

= render :partial => "edit_form"

%ul#page_nav
  %li= link_to "Cancel and back to #{@movie.name}", @movie
  %li= link_to "Cancel and go Back to list of movies", movies_path
